@font-face {
    font-family: 'hroa';
    src:    url('../fonts/hroa.eot?6couul');
    src:    url('../fonts/hroa.eot?6couul#iefix') format('embedded-opentype'),
        url('../fonts/hroa.ttf?6couul') format('truetype'),
        url('../fonts/hroa.woff?6couul') format('woff'),
        url('../fonts/hroa.svg?6couul#hroa') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hroa {
    font-family: 'hroa' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hroa-dialog1:before {
    content: "\e902";
}
.hroa-dialog2 .path1:before {
    content: "\e903";
    color: rgb(224, 226, 227);
}
.hroa-dialog2 .path2:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(48, 163, 74);
}
.hroa-dialog3 .path1:before {
    content: "\e905";
    color: rgb(224, 226, 227);
}
.hroa-dialog3 .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(48, 163, 74);
}
.hroa-dialog3 .path3:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(48, 163, 74);
}
.hroa-dialog4:before {
    content: "\e908";
}
.hroa-info:before {
    content: "\e914";
}
.hroa-all:before {
    content: "\e916";
}
.hroa-emergent:before {
    content: "\e918";
}
.hroa-time:before {
    content: "\e921";
}
.hroa-unfinished:before {
    content: "\e922";
}
.hroa-expire:before {
    content: "\e926";
}
.hroa-finish:before {
    content: "\e927";
}
.hroa-executive:before {
    content: "\e928";
}
.hroa-created:before {
    content: "\e929";
}
.hroa-xaz:before {
    content: "\e92a";
}
.hroa-xaz_h:before {
    content: "\e92b";
}
.hroa-sj2:before {
    content: "\e92c";
}
.hroa-sj1:before {
    content: "\e92d";
}
.hroa-search:before {
    content: "\e900";
}
.hroa-close:before {
    content: "\e901";
}
.hroa-gb:before {
    content: "\e915";
}
.hroa-jh:before {
    content: "\e917";
}
.hroa-fd:before {
    content: "\e913";
}
.hroa-xl:before {
    content: "\e925";
}
.hroa-calendar:before {
    content: "\e90f";
}
.hroa-calendar_h:before {
    content: "\e910";
}
.hroa-contacts:before {
    content: "\e911";
}
.hroa-contacts_h:before {
    content: "\e912";
}
.hroa-news:before {
    content: "\e919";
}
.hroa-news_h:before {
    content: "\e91a";
}
.hroa-img:before {
    content: "\e91b";
}
.hroa-img_h:before {
    content: "\e91c";
}
.hroa-set:before {
    content: "\e91d";
}
.hroa-set_h:before {
    content: "\e91e";
}
.hroa-task:before {
    content: "\e91f";
}
.hroa-task_h:before {
    content: "\e920";
}
.hroa-wej:before {
    content: "\e923";
}
.hroa-wej_h:before {
    content: "\e924";
}

